@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 200 15% 8%;
    --primary: 0 0% 100%;
    --input-foreground: 0 0% 52%;
    --font-sans: "Nunito Sans";
  }

  .dark {
    --background: 207 26% 17%;
    --foreground: 0 0% 100%;
    --primary: 209 23% 22%;
    --input-foreground: 0 0% 100%;
  }

  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  input {
    color: hsl(var(--input-foreground));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
